
{deps_dir, ["deps"]}.

{lib_dirs, ["lib"]}.

{sub_dirs, []}.

{deps, [ { erlymatch
         , "1.*"
         , {git, "git://github.com/zmstone/erlymatch.git", {branch, "master"}}
         }
       ]
}.

{erl_opts,  [ {src_dirs, ["src"]}
            , {fail_on_warning}
            ]
}.

{cover_enabled, true}.

